<div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp ikro-sidebar-div">
    <!-- Icon List -->


    <ul class="main-sidebar mdl-list">
        <a href="{{ url('customerAdd') }}" style="text-decoration: none">
            <li class="mdl-list__item {% if(subTab == 'customerAdd') %}active {% endif %}"><span class="mdl-list__item-primary-content"> <i
                            class="material-icons mdl-list__item-icon">person  </i>
    Customer Add
</span>
            </li>
        </a>

        <a href="{{ url('customerList') }}" style="text-decoration: none">
            <li class="mdl-list__item {% if(subTab == 'customerList') %}active {% endif %}"><span class="mdl-list__item-primary-content"> <i
                            class="material-icons mdl-list__item-icon">person</i>
    Customer List
  </span>
            </li>
        </a>


    </ul>

</div>