.list-search-div {
  border: 1px solid rgba(0,0,0,.12);
  padding: 20px;
  margin-bottom: 15px;
  background-color: $ikro-pale-white;
  th {
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-right: 1%;
  }
}

.list-data-table {
  width: 100%;
  table-layout: fixed;
}

.list-search-table {
  width: 100%;
}

.list-search-input{
  border: 1px solid darkgrey;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 3px;
  width: 95%;
}

.list-search-select{
  border: 1px solid darkgrey;
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 3px;
  width: 95%;
}

.table-data-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
