//$brand-primary: rgb(33, 150, 243);
$brand-primary: rgb(63, 81, 181);
//$brand-second:rgb(255, 193, 7);
$brand-second: rgb(255, 152, 0);
$brand-danger: #e74c3c;

//============== FLAT BUTTON STYLES =========================
/* #Belize Hole Sea Flat Button
==================================================*/
.flat-button {
  position: relative;
  vertical-align: top;
  //width: 100%;
  //height:30px;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: $brand-second;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  &.red {
    background: $brand-danger;

  }

}

.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btnRemove {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid $brand-danger;
  background-color: white;
  color: $brand-danger;
  font-size: 15px;
  transition: background 0.2s;
  &:hover {
    background-color: lighten($brand-danger, 0%);
    color: white;
  }
}

.btnEdit {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid $brand-second;
  background-color: white;
  color: $brand-second;
  font-size: 15px;
  transition: background 0.2s;
  &:hover {
    background-color: lighten($brand-second, 0%);
    color: white;
  }
}

#btnRemoveAll {
  //width: 32px;

  height: 32px;
  border-radius: 16px;
  border: 1px solid $brand-danger;
  background-color: white;
  color: $brand-danger;
  font-size: 15px;
  transition: background 0.3s;
  &:hover {
    background-color: lighten($brand-danger, 0%);
    color: white;
  }
}
