//$brand-primary: rgb(33, 150, 243);
$brand-primary: rgb(63, 81, 181);
//$brand-second:rgb(255, 193, 7);
$brand-second: rgb(255, 152, 0);
$brand-second-dull: rgb(255, 171, 64);
$brand-danger: #e74c3c;
$brand-null: rgba(158, 158, 158, .2);

//Dulith- Search Filters bar background color
$ikro-pale-white: #fcfcfc;
//============== FLAT BUTTON STYLES =========================
/* #Belize Hole Sea Flat Button
==================================================*/
.flat-button {
  position: relative;
  vertical-align: top;
  //width: 100%;
  //height:30px;
  padding: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #000;
  text-align: center;

  background: $brand-second-dull;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  text-shadow: none;
  &.red {
    background: $brand-null;

  }

}

.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btnRemove {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid $brand-danger;
  background-color: white;
  color: $brand-danger;
  font-size: 15px;
  transition: background 0.2s;
  &:hover {
    background-color: lighten($brand-danger, 0%);
    color: white;
  }
}

.btnEdit {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid $brand-second;
  background-color: white;
  color: $brand-second;
  font-size: 15px;
  transition: background 0.2s;
  &:hover {
    background-color: lighten($brand-second, 0%);
    &,* {
      color: white;
    }
  }

}

#btnRemoveAll {
  //width: 32px;

  height: 32px;
  border-radius: 16px;
  border: 1px solid $brand-danger;
  background-color: white;
  color: $brand-danger;
  font-size: 15px;
  transition: background 0.3s;
  &:hover {
    background-color: lighten($brand-danger, 0%);
    color: white;
  }
}

// Dulith......

.text-remove-deco {
  text-decoration: none;
}