@import "variables";

.customer-search {
  border: 1px solid rgba(0,0,0,.12);
  padding: 20px;
  margin-bottom: 15px;
  th {
    font-weight: 500;
  }
}


.search-input{
  border: 1px solid darkgrey;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 3px;
  margin-right: 5px;
  width: 60px;
}

