@import "variables";
@import "list.style";

.log-action {
  width: 15%;
}
.log-type {
  width: 15%;
}
.log-description {
  width: 27%;
}
.log-date-time{
  width: 20%;
}
.log-user {
  width: 15%;
}
.log-btn-details {
  width: 8%;
}