@import "variables";
//============================================================
.test {
  .ui-autocomplete-input.ui-autocomplete-loading {
    background: wheat;
  }
}

/* #Belize Hole Sea Flat Button
==================================================*/
.flat-button {
  position: relative;
  vertical-align: top;
  //width: 100%;
  //height:30px;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: $brand-second;
  border: 0;
  cursor: pointer;
  &.red {
    background: $brand-danger;

  }

}

.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btnRemove {
  width: 32px;
  height: 32px;
  padding:0;
  border-radius: 100%;
  border: 1px solid $brand-danger;
  background-color: white;
  color: $brand-danger;
  font-size: 15px;
  transition: background 0.2s;
  &:hover {
    background-color: lighten($brand-danger,0%);
    color: white;
  }
}

.btnEdit {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid $brand-second;
  background-color: white;
  color: $brand-second;
  font-size: 15px;
  transition: background 0.2s;
  &:hover {
    background-color: lighten($brand-second, 0%);
    color: white;
  }
}

#btnRemoveAll {
 //width: 32px;

  height: 32px;
  border-radius: 16px;
  border: 1px solid $brand-danger;
  background-color: white;
  color: $brand-danger;
  font-size: 15px;
  transition: background 0.3s;
  &:hover {
    background-color: lighten($brand-danger,0%);
    color: white;
  }
}
//========================================
.ikro-product-row {
  width: 100%;
  min-height: 0;
  margin: 15px 0;
  padding: 20px;
  table {
    th {
      text-align: left;
    }

  }
}

.main-buttons-row {
  margin: 30px auto;
  width: 100%;
  .main-buttons {
    float: right;
    padding: 15px;
  }
}