@import "variables";
@import "list.style";

.item-code {
  width: 10%;
}
.item-name {
  width: 15%;
}
.item-type {
  width: 15%;
}
.item-description {
  width: 23%;
}
.item-available-stock {
  width: 15%;
}
.item-manufacturer {
  width: 15%;
}
.item-edit-btn {
  width: 7%;
}