@import "variables";
//============================================================
.product-search-row {
  width: 100%;
  #searchProduct {
    width:50%;
    line-height: 32px;
    padding-left: 12px;
    font-size: 20px;
    border: 1px solid darkgrey;
    &.ui-autocomplete-input.ui-autocomplete-loading {
      border: 1px solid darkgrey;

      background: url("../img/billing.img/loading.gif") no-repeat right;

    }
  }
}


//========================================
.ikro-product-row {
  width: 100%;
  min-height: 0;
  margin: 15px 0;
  padding: 20px;
  table {
    th {
      text-align: left;
    }
    input[type='number'] {
      line-height: 25px;
      padding-left: 10px;
    }
    select {
      height: 30px;
    }

  }
}

.main-buttons-row {
  margin: 30px auto;
  width: 100%;
  .main-buttons {
    float: right;
    margin-left: 6px;
  }
}