@import "variables";
@import "list.style";

.expense-type {
  width: 20%;
}
.expense-time {
  width: 20%;
}
.expense-description {
  width: 30%;
}
.expense-amount {
  width: 20%;
}
.expense-edit-btn {
  width: 10%;
}