@import "variables";
@import "list.style";

.customer-name {
  width: 20%;
}
.customer-address {
  width: 40%;
}
.customer-nic {
  width: 10%;
}
.customer-mobile {
  width: 10%;
}
.customer-fixed {
  width: 10%;
}
.customer-edit-btn {
  width: 10%;
}