@import "variables";
//============================================================
.sidebar-customer {
  width: 100%;
  .field-group {
    margin: 15px 15px;
    input, textarea {
      display: block;
      margin: 8px -2px;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px;

    }
  }
}

.product-search-row {
  margin-bottom: 20px;
  width: 100%;
  .shortcuts {
    float: right;
    cursor: pointer;
    padding-top: 10px;
  }
  #searchProduct {
    width: 50%;
    line-height: 32px;
    padding-left: 12px;
    font-size: 20px;
    border: 1px solid darkgrey;
    &.ui-autocomplete-input.ui-autocomplete-loading {
      border: 1px solid darkgrey;

      background: url("../img/billing.img/loading.gif") no-repeat right;

    }
  }
}

//========================================

.ikro-product-row {
  width: 100%;
  min-height: 0;
  margin: 0 0 20px 0;
  padding: 20px;
  table {

    th {
      text-align: left;
    }

    input[type='number'] {
      line-height: 25px;
      padding-left: 10px;
      &.error {
        border: 2px solid $brand-danger;
      }
    }
    select {
      height: 30px;
    }

  }
}

.main-buttons-row {
  margin: 30px auto;
  width: 100%;
  .main-buttons {
    float: right;
    margin-left: 6px;

  }
}

.ikro-bill-table {
  tr {
    //&:focus {
    //  background: red !important;
    //}
  }
}

