@import "../../variables";

.ikro-pagination {
  //colors
  $color_pickled_bluewood_approx: #2e4057;
  $white: #ffffff;
  $color_mercury_approx: #e6e6e6;
  $color_ship_cove_approx: #7d98ba;
  $concrete: #f2f2f2;
  $color_pickled_bluewood_40_approx: rgba(46, 64, 87, 0.4);
  $color_aqua_forest_approx: $brand-primary;

  //fonts
  $font_0: PT Sans;
  $font_1: sans-serif;

  //urls
  $url_0: url(./img/cd-icon-arrow-1.svg);
  $url_1: url(./img/cd-icon-arrow-2.svg);

  * {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
  }
  *::after {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
  }
  *::before {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
  }
  a {
    color: $color_pickled_bluewood_approx;
    text-decoration: none;
  }
  section {
    border-bottom: 1px solid $color_mercury_approx;
    h2 {
      width: 90%;
      margin: 2em auto 0;
      color: $color_ship_cove_approx;
      font-weight: 700;
      text-align: center;
    }
  }
  @media only screen and(min-width: 1170px) {
    .cd-pagination {
      margin: 4em auto 8em;
    }
    section h2 {
      margin: 4em auto 0;
    }
  }
  nav[role="navigation"] {
    text-align: center;
  }
  .cd-pagination {
    width: 90%;
    max-width: 768px;
    margin: 2em auto 4em;
    text-align: center;
    li {
      display: none;
      margin: 0 .2em;
      &.button {
        display: inline-block;
      }
    }
    a {
      display: inline-block;
      //Instead of the line below you could use @include user-select($select)
      user-select: none;
      padding: 2px .8em 0 .8em;

      line-height: 30px;
      font-size: 1rem;
      border: 1px solid $color_mercury_approx;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0.25em;
      &:active {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0.9);
      }
      &.disabled {
        color: $color_pickled_bluewood_40_approx;
        pointer-events: none;
      }
      &.disabled::before {
        opacity: .4;
      }
      &.disabled::after {
        opacity: .4;
      }
    }
    span {
      display: inline-block;
      //Instead of the line below you could use @include user-select($select)
      user-select: none;
      padding: .6em .8em;
      font-size: 1rem;
    }
    .button {
      &:first-of-type a::before {
        content: '\00ab ';
      }
      &:last-of-type a::after {
        content: ' \00bb';
      }
    }
    .current {
      background-color: $color_aqua_forest_approx;
      border-color: $color_aqua_forest_approx;
      color: $white;
      pointer-events: none;
    }
    &.no-space {
      width: auto;
      max-width: none;
      display: inline-block;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0.25em;
      border: 1px solid $color_mercury_approx;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      li {
        margin: 0;
        float: left;
        border-right: 1px solid $color_mercury_approx;
        &:last-of-type {
          border-right: none;
          a {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 0 0.25em 0.25em 0;
          }
        }
        &:first-of-type a {
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 0.25em 0 0 0.25em;
        }
      }
      a {
        float: left;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        padding: .8em 1em;
        border: none;
      }
      span {
        float: left;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        padding: .8em 1em;
        border: none;
      }
      &.move-buttons {
        width: 90%;
        max-width: 768px;
        display: block;
        overflow: hidden;
        li {
          float: none;
          border: none;
        }
        a {
          float: none;
        }
        span {
          float: none;
        }
      }
      &.custom-buttons .button:last-of-type a {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0.25em 0 0 0.25em;
      }
    }
    &.move-buttons {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .button {
        &:first-of-type {
          float: left;
        }
        &:last-of-type {
          float: right;
        }
      }
    }
    &.custom-buttons {
      a {
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
      }
      .button {
        a {
          width: 40px;
          overflow: hidden;
          white-space: nowrap;
          text-indent: 100%;
          color: transparent;
          background-image: $url_1;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &:last-of-type a {
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: rotate(180deg);
        }
      }
    }
    &.animated-buttons {
      a {
        padding: 0 1.4em;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
      }
      span {
        padding: 0 1.4em;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
      }
      .button {
        a {
          position: relative;
          padding: 0 2em;
        }
        &:first-of-type a::before {
          left: 50%;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateX(-50%);
          right: auto;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: transform 0.3s;
        }
        &:last-of-type a::after {
          left: 50%;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateX(-50%);
          right: auto;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: transform 0.3s;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateX(-50%) rotate(180deg);
        }
      }
      i {
        display: block;
        height: 100%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(100%);
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: transform 0.3s;
      }
    }
    &.custom-icons .button {
      a {
        position: relative;
      }
      &:first-of-type {
        a {
          padding-left: 2.4em;
        }
        a::before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 16px;
          height: 16px;
          top: 50%;
          margin-top: -8px;
          background: transparent $url_0 no-repeat center center;
          left: .8em;
        }
      }
      &:last-of-type {
        a {
          padding-right: 2.4em;
        }
        a::after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 16px;
          height: 16px;
          top: 50%;
          margin-top: -8px;
          background: transparent $url_0 no-repeat center center;
          right: .8em;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: rotate(180deg);
        }
      }
    }
  }
  @media only screen and(min-width: 768px) {
    .cd-pagination li {
      display: inline-block;
    }
  }
  .no-touch .cd-pagination {
    a:hover {
      background-color: $concrete;
    }
    &.custom-buttons .button:last-of-type a:active {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scale(0.9) rotate(180deg);
    }
    &.animated-buttons .button {
      a:hover i {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(0);
      }
      &:first-of-type a:hover::before {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateX(-50%) translateY(-50px);
      }
      &:last-of-type a:hover::after {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateX(-50%) rotate(180deg) translateY(50px);
      }
    }
  }
}